html, body, #root {
    margin: 0;
    font-family: InterRegular;
}

@font-face {
    font-family: 'InterRegular';
    src: local('InterRegular'), url(/src/assets/fonts/Inter-Regular.otf) format('opentype');
}